<%= cond do %>
  <% @audience_layout == "score" -> %>
    <._score snapshot={@snapshot} />
  <% @audience_layout == "clock" -> %>
    <._clock snapshot={@snapshot} />
  <% true -> %>
    <._full snapshot={@snapshot} />
<% end %>
